[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gtts = "*"
pygame = "*"
speechrecognition = "*"
pyaudio = "*"
snowboy = {git = "https://github.com/Kitt-AI/snowboy"}
psutil = "*"
ytmusicapi = "*"
wolframalpha = "*"
pyautogui = "*"
openai = "*"
weather-api = "*"
bs4 = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.11"
